  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
  }
  ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
  .pagination>li {
    display: inline;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  }
  .pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .pagination a.active {
    background-color: #6772e5 !important;
    color: white;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}
  table.blueTable {

    background-color:#e9edf2;
    width: 100%;
    text-align: left;

  }
  table.blueTable td, table.blueTable th {

    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 1rem;
    color: #67757c;
    font-weight: 300;
      line-height:2;
  }
  table.blueTable tr:nth-child(even) {
    background: #ffffff;
  }
  table.blueTable thead {
    background:#ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%,#ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%,#ffffff 100%);
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    line-height:2;
    color:#67757c;

  }
  table.blueTable thead th:first-child {
    padding-left:20px;
  }
  table.blueTable thead th:last-child {
    padding-right:20px;
  }
  table.blueTable tbody td:first-child {
    padding-left:20px;

  }
  table.blueTable tbody td:last-child {
    padding-right:20px;
  }

  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #67757c;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #f6f6f6 100%);
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background:#ffffff;
    color: #67757c;
    padding: 2px 8px;
  }
  .datatable-body tr:hover {
    background-color: #d2d8e0;
  }
  table.blueTable tr:nth-child(even):hover {
    background-color: #fafafa;
  }
  .th{
    font-weight: 500;
    line-height: 1.5;
    font-size: 1rem;
  }
  .table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:45px;
  }
   .pagination > .active > a,  .pagination > .active > span,  .pagination > .active > a:hover,  .pagination > .active > span:hover,  .pagination > .active > a:focus,  .pagination > .active > span:focus {
    background-color: #6772e5 !important;
    border-color: #6772e5 !important;
} */

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: #0275d8;
  color: white;
}
.faded {
  opacity: 0.5;
}
/* .row{
  margin-bottom: 30px !important;
} */
.Rounded-Rectangle-3-copy-4 {
  width: 83px;
  height: 38px;
  mix-blend-mode: undefined;
  border-radius: 4px;
  background-color: #6772e5;
  box-shadow: 0px 3px 6px 0 rgba(103, 114, 229, 0.25);
}
.Upload {
  width: 58px;
  height: 16px;
  mix-blend-mode: undefined;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
}

.upload-input{
  display:none;
}
.astric-red{
  font-size: 0.5em;
}
.calender-button{
  margin-top: 36px;
}
/* .success{
color:green;
}

.errornous{
  color: yellow;
}
.failed{
  color:red;} */
  .mobile-Number {
    width: 129px;
    height: 13px;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #949494;
  }
  .calender-icon{
    position: absolute;
    right: 0;
    top: 13px;
  }
  a {
    cursor: pointer;
}
  .astric-red{
    font-size: 0.5em;
  }

  .astric-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
  }

  /****  floating-Lable style start ****/
  .floating-label {
    position: relative;
    margin-bottom: 20px;
  }

  .floating-input, .floating-select {
    padding: 4px 4px;
    display: block;
    outline: none;
    border: none !important;
    font-family: "Montserrat", sans-serif;
    border-radius: 0px !important;
    border-bottom: 1px solid #919191 !important;
    width: 100%;
    margin-bottom: 30px;
  }

  .floating-input:focus, .floating-select:focus {
    outline: none !important;
    border-bottom: 2px solid #20aee3;
  }


  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
  }
  ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
  }
  .pagination>li {
    display: inline;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  }
  .pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .pagination a.active {
    background-color: #6772e5 !important;
    color: white;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}
  table.blueTable {
    /* border: 1px solid#ffffff; */
    background-color:#e9edf2;
    width: 100%;
    text-align: left;
    /* border-collapse: collapse; */
  }
  table.blueTable td, table.blueTable th {
    /* border: 1px solid #AAAAAA; */
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 1rem;
    color: #67757c;
    font-weight: 300;
      line-height:2;
  }

  table.blueTable tr:nth-child(even) {
    background: #ffffff;
  }
  table.blueTable thead {
    background:#ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%,#ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%,#ffffff 100%);
    /* border-bottom: 2px solid #444444; */
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    line-height:2;
    color:#67757c;
    /* border-left: 2px solid #f6f6f6; */
  }
  table.blueTable thead th:first-child {
    padding-left:20px;
    /* border-left: none; */
  }
  table.blueTable tbody td:first-child {
    padding-left:20px;
    /* border-left: none; */
  }
  table.blueTable thead th:last-child {
    padding-right:20px;
    /* border-right: none; */
  }
  table.blueTable tbody td:last-child {
    padding-right:20px;
    /* border-left: none; */
  }
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #67757c;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #f6f6f6 100%);
    /* border-top: 2px solid #444444; */
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background:#ffffff;
    color: #67757c;
    padding: 2px 8px;
    /* border-radius: 5px; */
  }
  .datatable-body tr:hover {
    background-color: #d2d8e0;
  }
  table.blueTable tr:nth-child(even):hover {
    background-color: #fafafa;
  }
  .th{
    font-weight: 500;
    line-height: 1.5;
    font-size: 1rem;
  }
  .table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:45px;
  }
   .pagination > .active > a,  .pagination > .active > span,  .pagination > .active > a:hover,  .pagination > .active > span:hover,  .pagination > .active > a:focus,  .pagination > .active > span:focus {
    background-color: #6772e5 !important;
    border-color: #6772e5 !important;
}
.text{
  font-family: Montserrat;
}
.disabled{
  pointer-events:none;
  opacity:0.4;
}
