<div class="login-register login-register-bg">
  <div class="login-box card">
    <div class="card-body">
      <form [formGroup]="passwordResetFormGroup">
        <div class="logo-center" style="margin-bottom: 31px"><img src="assets/images/logo.png"/></div>
        <h3 class="box-title">Password Reset</h3>
        <p class="m-b-30">to continue to Dashboard</p>
        <div class="form-group floating-label">
          <input type="text" id="name" class="form-control floating-input" name="name" formControlName="name"
                 [maxlength]="20" placeholder=" ">
          <span class="highlight"></span>
          <label class="form-control-placeholder" for="name">Name</label>
          <div class="text-danger" *ngIf="(passwordResetFormGroup.controls.name.touched||
        passwordResetFormGroup.controls.name.dirty)&&
           !passwordResetFormGroup.controls.name.valid">
            <span *ngIf="this.passwordResetFormGroup.controls.name.errors.required">
              Username is required</span>
          </div>
        </div>

        <div class="form-group floating-label">
          <span class="fa fa-eye eye-span" [ngClass]="{'fa-eye-slash': isShow}" (mousedown)="clickEvent('password')"
                (mouseup)="relEvent('password')"></span>
          <input type="password" id="password" class="form-control  floating-input" name="password"
                 formControlName="password"
                 [maxlength]="20" placeholder=" ">
          <span class="highlight"></span>
          <label>Password</label>
          <div class="text-danger" *ngIf="(passwordResetFormGroup.controls.password.touched ||
          passwordResetFormGroup.controls.password.dirty)&&
           !passwordResetFormGroup.controls.password.valid">
            <span *ngIf="this.passwordResetFormGroup.controls.password.errors.required">
              Password is required</span>
          </div>
        </div>

        <div class="form-group floating-label">
          <span class="fa fa-eye eye-span" [ngClass]="{'fa-eye-slash': isShow}" (mousedown)="clickEvent('confirmPassword')"
                (mouseup)="relEvent('confirmPassword')"></span>
          <input type="password" id="confirmPassword" class="form-control  floating-input" name="confirmPassword"
                 formControlName="confirmPassword"
                 [maxlength]="20" placeholder=" ">
          <span class="highlight"></span>
          <label>Confirm Password</label>
          <div class="text-danger" *ngIf="(passwordResetFormGroup.controls.confirmPassword.touched ||
          passwordResetFormGroup.controls.confirmPassword.dirty) &&
           !passwordResetFormGroup.controls.confirmPassword.valid">
            <span *ngIf="this.passwordResetFormGroup.controls.confirmPassword.errors.required">
              Confirm Password is required</span>
              <span *ngIf="!isPasswordMatch">
                Password does not match the confirm password</span>

          </div>
        </div>

        <div *ngIf="isLoginError && !isLoginServerError" class="text-danger">
          Invalid user name or password.
        </div>
        <div *ngIf="isLoginError && isLoginServerError" class="text-danger">
          Invalid user name or password.
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-info btn-lg btn-block waves-effect waves-light"
                    (click)="passwordReset()">Reset Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>