.astric-red{
  font-size: 0.5em !important;
}

.astric-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

/****  floating-Lable style start ****/
.floating-label {
  position: relative;
  margin-bottom: 20px;
}

.floating-input, .floating-select {
  padding: 4px 4px;
  display: block;
  outline: none;
  border: none !important;
  font-family: "Montserrat", sans-serif;
  border-radius: 0px !important;
  border-bottom: 1px solid #919191 !important;
  width: 100%;
  margin-bottom: 30px;
}

.floating-input:focus, .floating-select:focus {
  outline: none !important;
  border-bottom: 2px solid #20aee3;
}

label {
  position: inherit;
}

.floating-label label {
  /*color:#999;*/
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top: -18px;
  font-size: 14px;
  /*color:#5264AE;*/
}

.floating-select:focus ~ label, .floating-select:not([value='']):valid ~ label, .floating-select:disabled ~ label {
  top: -18px;
  font-size: 14px;
  /*color:#5264AE;*/
}


.floating-select > option:not([value=""]):valid ~ select ~ label { background: red; }
.floating-select > option[value=""]:valid ~ select ~ label { background: #00ff24; }

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width: 50%;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

/* highlighter */
.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.floating-input:focus ~ .highlight, .floating-select:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
  color: #20aee3;
}

/* animation */
@-webkit-keyframes inputHighlighter {
  /*from { background:#5264AE; }*/
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  /*from { background:#5264AE; }*/
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  /*from { background:#5264AE; }*/
  to {
    width: 0;
    background: transparent;
  }
}

.eye-span {
  position: absolute;
  margin-top: 10px;
  right: 0;
}

/****  floating-Lable style end ****/
.login-register-bg {
  background-color: #f5f5f5;
}


.floating-common {
  font-size: 14px;
  top: -18px;
}

.astric-label-inline{
  display: inline-flex;
}
