<!--&lt;!&ndash; <div class="col-lg-4"> &ndash;&gt;-->
  <!--<div class="card" *ngIf="donutChartData?.length>0">-->
    <!--<div class="card-body">-->
          <!--<div class="d-flex no-block">-->
              <!--<h3 class="card-title  align-self-center">Frequent Errors</h3>-->
              <!--<h6 class="card-title  align-self-center">(Last 6 Months)</h6>-->
          <!--</div>-->
          <!--<div class="piechart" *ngIf="donutChartData">-->
            <!--<x-chartist class="c3-cart" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"  [events]="donuteChart1.events"-->
            <!--&gt; </x-chartist>-->
          <!--</div>-->
          <!--<div *ngIf="donutChartData">-->
          <!--<ul class="list-inline   font-12" *ngFor="let item of donutChartData2">-->
              <!--<li class="li-font" *ngIf="donutChartData2.indexOf(item)===0" ><i class="fa fa-circle text-purple"></i> {{item.error}}</li>-->
              <!--<li class="li-font" *ngIf="donutChartData2.indexOf(item)===1" ><i class="fa fa-circle text-success"></i>{{item.error}}</li>-->
              <!--<li class="li-font" *ngIf="donutChartData2.indexOf(item)===2" ><i class="fa fa-circle text-info"></i> {{item.error}}</li>-->
              <!--<li class="li-font" *ngIf="donutChartData2.indexOf(item)===3" ><i class="fa fa-circle text-warning"></i>{{item.error}}</li>-->
              <!--<li class="li-font" *ngIf="donutChartData2.indexOf(item)===4" ><i class="fa fa-circle " style="color:#bcc3d3"></i> {{item.error}}</li>-->
          <!--</ul></div>-->
  <!--</div></div>-->
<!--&lt;!&ndash; </div> &ndash;&gt;-->
