<!--&lt;!&ndash; <div class="col-lg-8"> &ndash;&gt;-->

    <!--<div class="d-flex m-b-30" >-->
      <!--<h5 class="card-title align-self-center" >Task Based Summary</h5>-->
      <!--<div class="ml-auto align-self-center">-->
        <!--<ul class="list-inline font-12">-->
          <!--<li>-->
            <!--<i class="fa fa-circle text-success"></i> Success Records</li>-->
          <!--<li>-->
            <!--<i class="fa fa-circle text-warning"></i> Errornous Records</li>-->
          <!--<li>-->
            <!--<i class="fa fa-circle text-danger"></i> Failed Records</li>-->
          <!--<li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div style="height:350px;" *ngIf="lineChartColors?.length>0" >-->
      <!--<canvas baseChart [datasets]="barChartData"-->
      <!--[labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"-->
        <!--[legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="row text-center">-->
      <!--<div class="col-lg-3 col-md-3 m-t-20">-->
        <!--<h2 class="m-b-0 font-light ">5098</h2>-->
        <!--<small>Total Records</small>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-md-3 m-t-20">-->
        <!--<h2 class="m-b-0 font-light ">4156</h2>-->
        <!--<small>Success Records</small>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-md-3 m-t-20">-->
        <!--<h2 class="m-b-0 font-light ">1369</h2>-->
        <!--<small>Errornous Records</small>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-md-3 m-t-20">-->
        <!--<h2 class="m-b-0 font-light ">4332</h2>-->
        <!--<small>Failure Records</small>-->
      <!--</div>-->
    <!--</div> &ndash;&gt;-->

<!--&lt;!&ndash; </div> &ndash;&gt;-->
