<!-- <div class="form-group   col-4">
  <input type="text" id="icNumber" class="form-control" formControlName="control">
  <label class="form-control-placeholder" for="icNumber">IC Number*</label>
  <div class="text-danger" *ngIf="(control.touched||
  control.dirty )&&
   !control.valid">
    <span *ngIf="control.errors.required">
      Invalid IC Number</span>
    <span *ngIf="control.errors.minlength">
      Must be at Least 20 Characters</span>
    <span *ngIf="control.errors.maxlength">
      Maximum Characters Allowed is 20</span>
  </div>
</div> -->
